.index-section--flush {
    margin: 0;
}
*, :after, :before, input {
    box-sizing: border-box;
}
div {
    display: block;
}

.image-with-text__heading {
  
  font-family: Basel-Grotesk, sans-serif;
  font-weight: 800;
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 0;
  letter-spacing:0;
  max-width: 495px;

}

.image-with-text__text {
  font-family: Basel-Grotesk,sans-serif;
    letter-spacing: 0;
    line-height: 1.6;
    font-size: 17px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeSpeed;
 white-space: break-spaces; 
  max-width: 495px;
}

.image-with-text__media {
  max-width: 563px;
  height: 15px;
}

.grid__item img{
 margin: 0 auto; 
}

.image-with-text__media img{
 max-width: 563px !important; 
 max-height: 317px;
 margin-top: 50px;
}

#shopify-section-template--15264255377646__163424694767ce4edf img{
 max-height: 563px;
}

.button.button--primary { 
  font-family: Basel-Grotesk, sans-serif;
  font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
  color: black;
  background-color: white;
  border: 4px solid #ECCB45;
}

.paragraph, p {
    margin: 0 0 20px 0;
}